* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

nav.navbar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-image: url(images/background.jpg);
    background-size: 500px;
}

.navbar .logo {
    display: inline-block;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #606060;
    background-color: #FFF;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .nav-item:hover a {
    background-color: #FCBD00;
}

.navbar .nav-item:hover a {
    color: #fff;
}

.navbar .logo img {
    height: 70px;
    vertical-align: middle;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.navbar,
.main,
.footer {
    flex-shrink: 0;
}

.main {
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 20px;
    flex-grow: 1;
}

.footer {
    /* background-image: url(images/background.jpg); */
    /* background-size: 500px; */
    background-color: #3a3a3a;
}

.footer>.footer-content {
    margin-left: 8vw;
    margin-right: 8vw;
    color: #fff;
}

.productCards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.productCard {
    flex: 0 0 250px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.productCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.productCard .productDescription {
    flex-shrink: 0;
    flex-grow: 1;
    padding: 8px;
}

.productCard .productFooter {
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

.productCard .productButton {

    color: black;
    font-size: large;
    width: 80%;
    height: 35px;
    background-color: #ABC93E;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

}