* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

.errorMessage {
    padding: 20px;
    background-color: #f25858;
    color: #ffffff;
    margin-bottom: 15px;
}

nav.navbar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-image: url(images/background.jpg);
    background-size: 500px;
}

.navbar .logo {
    display: inline-block;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #606060;
    background-color: #FFF;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

.navbar .nav-item:hover a {
    background-color: #FCBD00;
}

.navbar .nav-item:hover a {
    color: #fff;
}

.navbar .nav-item a.active {
    border: 3px #FCBD00 solid;
    margin-top: 0px;
}

.navbar .logo img {
    height: 70px;
    vertical-align: middle;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.navbar,
.main,
.footer {
    flex-shrink: 0;
}

.main {
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 20px;
    flex-grow: 1;
}

.footer {
    background-color: #3a3a3a;
}

.footer>.footer-content {
    margin-left: 8vw;
    margin-right: 8vw;
    color: #fff;
}

.productCards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.productCard {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.productLink {
    margin: 10px;
    flex: 0 0 250px;
    text-decoration: none;
    color: inherit;
}

.productCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.productCard .productDescription {
    flex-shrink: 0;
    flex-grow: 1;
    padding: 8px;
}

.productCard .productFooter {
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

.productCard .productButton {
    color: black;
    font-size: large;
    width: 80%;
    height: 35px;
    background-color: #ABC93E;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.productCard .productButton:hover { 
    background-color: #98b338;
}
  
.column {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 400px;
    padding: 10px;
    flex-grow: 0.75;
}

.column.image-column {
    flex-grow: 0;
    flex-shrink: 2;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-image.large {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.product-column .addToCartButton {
    color: black;
    font-size: large;
    width: 200px;
    height: 35px;
    background-color: #ABC93E;
    border: 0;
    margin-bottom: 15px;
    cursor: pointer;
}

.product-column .deleteButton {
    color: black;
    font-size: large;
    width: 200px;
    height: 35px;
    background-color: red;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.product-column .editButton {
    color: black;
    font-size: large;
    width: 200px;
    height: 35px;
    background-color: #FCBD00;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.product-column .quantitySelector {
    height: 35px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
}

.faqs dt {
    font-size: large;
    color: #E45D34;
    font-weight: bold;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content .footer-left {
    flex-shrink: 0;
    flex-grow: 1;
}

.footer-content .footer-right {
    flex-shrink: 0;
}

.footer-content .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.login-area {
    display: flex;
    justify-content: center;
}

.card-heading {
    margin-top: 0px;
}

.card.small {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    padding: 20px;
    flex-basis: 500px;
}

.form-fieldgroup {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-fieldgroup label {
    display: block;
}

.form-fieldgroup input[type="text"], .form-fieldgroup input[type="password"] {
    width: 100%;
    height: 30px;
}

.form-fieldgroup select {
    width: 100%;
    height: 30px;
}

.login-button {
    width: 80px;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #474747;
}

.cart-area {
    display: flex;
    justify-content: center;
}

.card.large {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    flex-basis: 900px;
    padding: 20px;
}

.cart-table {
    border-collapse: collapse;
    width: 100%;
}

.cart-table td, th {
    border-bottom: 1px solid #000000;
    padding: 3px;
}

.cart-table th {
    text-align: left;
}

.cart-table td {
    padding-top: 8px;
}

.cart-table td:last-child {
    width: 20%;
}

.cart-area .button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.cart-area .button:hover {
    background-color: #595959;
}

.cart-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.cart-footer {
    margin-top: 15px;
}

.cart-footer .footer-left {
    display: flex;
    align-items: center;
}